<div id="map-canvas"></div>
<div class="container-fluid" id="main">
  <div class="row">
  	<div class="col-xs-8" id="left">
       <form class="navbar-form">
        <div class="form-group" style="display:inline;">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Cardiologist in Sacramento, CA</a></li>
                <li><a href="#">Cardiologist in Monterrey, CA</a></li>
              </ul>
            </div>
            <input type="text" class="form-control" placeholder="Cardiology in Bay Area, CA" data-ng-model="search.type">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
          </div>
        </div>
         
         
      </form>
      <h2>Search Results</h2>
      	
      <div class="panel panel-default" style="padding-left: 15px;">
        <p>Salary Options: </p>
            <div class="checkbox">
    			<label>
                  <input type="checkbox" data-ng-model="search.salary.type1" data-ng-true-value="'$$'" data-ng-false-value="''"> $$/hr
    			</label>
  			</div>
            <div class="checkbox">
    			<label>
                  <input type="checkbox" data-ng-model="search.salary.type2" data-ng-true-value="'$$$$'" data-ng-false-value="''"> $$$$/hr
    			</label>
  			</div>
        <p>Shift Options: </p>
            <div class="checkbox">
    			<label>
                  <input type="checkbox" data-ng-model="search.time.type1" data-ng-true-value="'A.M'" data-ng-false-value="''"> AM
    			</label>
  			</div>
            <div class="checkbox">
    			<label>
                  <input type="checkbox" data-ng-model="search.time.type2" data-ng-true-value="'P.M'" data-ng-false-value="''"> PM
    			</label>
  			</div>
          
        </div>
      <!-- item list -->

      <div ng-repeat="result in results | filter:search.type | filter:search.salary.type1 | filter:search.salary.type2 | filter:search.time.type1 | filter:search.time.type2">
	      <div class="panel panel-default">
	        <div class="panel-heading"><a href="">{{result.timeslot}} at {{result.facility}}</a></div>
	      </div>
	      <p>{{result.description}}</p>
	      <p>Salary: {{result.salary}} ({{result.jobtype}})</p>
	      <hr>
      </div>
      

      
      <!-- /item list -->
        
    </div>
    <div class="col-xs-4"><!--map-canvas will be postioned here--></div>
    
  </div>
</div>
